[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper.git
[submodule "themes/rhazdon-hello-friend-ng"]
	path = themes/rhazdon-hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
